.post-eof {
  background: $grey-light;
  height: 0px;
  margin: $post-eof-margin-top auto $post-eof-margin-bottom;
  text-align: center;
  width: 8%;

  .post-block:last-child & {
    display: none;
  }
}
